.head-wrapper
  .header
    .header__logo
      %i.fas.fa-fish.fa-2x
      %a{ href: '#'}
        水族館ログ
    .header__right-items
      %a.header__right-items__tokutyo{ href: '#'}
        特徴と使い方
      %a.header__right-items__login{ href: '#'}
        ログイン
  .main-copy
    %h1
      水族館探しは
      %br
      水族館ログ
  .search-form
    .search-form__label
      %p
        エリア、キーワードから探す
    .search-form__search-box
      .search-form__search-box__input-area
      .search-form__search-box__input-keyword
      .search-form__search-box__submit-btn

