.search-by-area
  %h2
    エリアから探す
  %ul
    %li.area-box
      = image_tag '東京.jpg', :size =>'50x50'
      .area-box__text
        東京  7
        %p 館
    %li
      神奈川
    %li
      千葉
    %li
      茨城
    %li
      埼玉
    %li
      栃木

