.search-by-area
  %h2
    エリアから探す
  %ul
    %li.area-box
      = image_tag '東京.jpg', :size =>'70x70', class: "image-tokyo"
      .area-box__text
        %a.area-box__text__area{ href: '#'}
          東京
        %a.area-box__text__value{ href: '#'}
          7館
    %li
      神奈川
    %li
      千葉
    %li
      茨城
    %li
      埼玉
    %li
      栃木

