.side-bar
  .side-bar__head
    .side-bar__hea__wrapper
      .side-bar__hea__wrapper__label      
        %i.fas.fa-map-marked-alt
        %p
          水族館
      .side-bar__hea__wrapper__value
        15
    .side-bar__hea__wrapper
      .side-bar__hea__wrapper__label
        %i.fas.fa-comment
        %p
          口コミ
      .side-bar__hea__wrapper__value
        34
