.wrapper
  = render "head-wrapper"
  .body-wrapper
    .main-wrapper
      = render "search-by-area"
      .ranking
        = render "ranking"
    .side-wrapper
      = render "side-wrapper"
  .footer
    footer
