.head-wrapper {
  width: 100%;
  min-width: 1000px;
  height: 450px;
  background-image: url("main-view.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .header {
    height: 78px;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;

    &__logo {

      a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        vertical-align: middle;
        font-size: 22px;
      }
    }

    &__right-items {
      a {
        text-decoration: none;
        color: white;
        vertical-align: middle;
        font-size: 14px;
      }

      &__feature {
        padding-right: 10px;
        border-right: solid 1px white;
      }

      &__login {
        padding-left: 10px;
      }
    }
  }

  .main-copy {
    color: white;
    font-size: 45px;
    height: 290px;
    line-height: 100px;
    margin-top: 30px;
    margin-left: 150px;
  }

  .search-form {
    height: 100px;
    width: calc(100% - 120px);
    margin: 0 60px;
    border-radius: 4px;
    background-color: white;
    border: solid 1px #e1e1e1;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.1);
    align-items: center;
    display: flex;

    &__label {
      h2 {
        line-height: 100px;
        padding: 0 20px;
      }
    }

    &__search-box {
      position: relative;
      width: calc(100% - 270px);
      height: 51px;
      border: solid 1px lightskyblue;
      border-radius: 2px;
      z-index: 10;

      &__wrapper {
        display: flex;

        &__input-area {
          height: 51px;
          width: 300px;
          border-right: solid 0.5px paleturquoise;

          input {
            padding-left: 20px;
            -webkit-appearance:none;
            border: none;
            outline: none;
            height: 49px;
            width: 100%;
            border-radius: 2px;
          }

          input::placeholder {
            color: silver;
          }
        }

        &__input-keyword {
          height: 51px;
          width: 500px;
          border-right: solid 0.5px paleturquoise;

          input {
            padding-left: 20px;
            -webkit-appearance:none;
            border: none;
            outline: none;
            height: 49px;
            width: 100%;
            border-radius: 2px;
          }

          input::placeholder {
            color: silver;
          }
        }

        &__submit-btn {

          input{
            height: 50px;
            width: 100px;
            color: white;
            font-size: 16px;
            font-weight: 600;
            border-radius: 0 2px 2px 0;
            background-color: indigo;
            -webkit-appearance:none;
            border: none;
            outline: none;
            cursor: pointer;
          }

          input:hover {
            background-color: #26499d;
          }
        }
      }
    }
  }
}
