.ranking {
  background-color: white;

  h2 {
    margin-bottom: 22px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  &__next {
    padding: 30px 0;
    width: 100%;
    border-top: solid 3px #dbdbff;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
      height: 50px;
      width: 200px;
      text-align: center;
      background-color: aliceblue;

      a {
        text-decoration: none;
        padding-left: 50px;
        line-height: 50px;
        display: flex;
        width: 100%;
      }
    }

    &__btn:hover {
      background-color: rgb(240, 251, 255);
    }
  }
}
