.ranking {
  background-color: white;
  margin-top: 50px;

  h2 {
    margin-bottom: 22px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  &__box {
    display: flex;
    border-top: solid 3px #dbdbff;
    padding: 10px 20px 10px 0;
    position: relative;

    &__detail {
      padding-left: 20px;

      &__title {
        font-size: 20px;
        text-decoration: none;
        font-weight: 600;
      }

      &__area {
        font-size: 12px;
        margin-top: 10px;
      }

      &__rate {
        font-size: 20px;
        margin-top: 20px;
        color: orange;
        font-weight: 600;
      }

      &__comment-area {
        margin-top: 20px;
        background-color: lavender;
        padding: 10px 10px;
        height: 80px;

        &__comment {
          font-size: 13px;
          letter-spacing: 0.5px;
          line-height: 1.4em;
        }

        &__member {
          float: right;
          font-size: 12px;
        }
      }
    }

    &__gone {
      position: absolute;
      right: 45px;
      font-size: 20px;
      color: deepskyblue;
    }

    &__save {
      position: absolute;
      right: 20px;
      font-size: 20px;
      color: deepskyblue;
    }
  }

  &__next {
    padding: 30px 0;
    width: 100%;
    border-top: solid 3px #dbdbff;
    display: flex;
    justify-content: center;
    align-items: center;

    &__btn {
      height: 50px;
      width: 200px;
      text-align: center;
      background-color: aliceblue;

      a {
        text-decoration: none;
        padding-left: 50px;
        line-height: 50px;
        display: flex;
        width: 100%;
      }
    }
  }
}
