- if Went.find_by(user_id: current_user.id, group_id: group.id)
  = link_to group_went_path(group_id: group.id, id: group.wents[0].id), method: :delete, remote: true do
    .went-btn__wrapper
      %i.fas.fa-flag
      %span
        行った

- else
  = link_to group_wents_path(group), method: :post, remote: true do
    .went-btn__wrapper
      %i.far.fa-flag
      %span
        行った
