.groups-main {
  display: flex;
  padding: 50px 60px 0;

  &--head {
    width: calc(100% - 320px);
    min-width: 600px;

    &__wrapper {
      margin-bottom: 25px;
      padding-left: 20px;
      height: 100px;
      background-color: #c1ffff;
      border-top: solid 3px #dbdbff;
      border-bottom: solid 1px #dbdbff;

      h1 {
        padding-top: 25px;
        font-size: 22px;
      }

      p {
        padding-top: 15px;
        font-size: 12px;
      }
    }
  }
}
