.aquarium-name, .aquarium-catchphrase, .aquarium-title, .aquarium-area, .aquarium-images {
  width: 400px;
  margin: 20px 0;
}

.aquarium-images {
  display: flex;
}

.aquarium-text {
  width: 800px;
  margin: 20px 0;
}



