.aquarium-name, .aquarium-catchphrase, .aquarium-title, .aquarium-area {
  width: 400px;
  margin: 20px 0;
}

.aquarium-text {
  width: 800px;
  margin: 20px 0;
}

.groups-main {
  display: flex;
  padding: 50px 60px 0;
}
